@font-face {
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-family: "OpenSans";
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-family: "OpenSans";
  font-weight: 700;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

h1 {
  font-family: "OpenSans", "Arial", sans-serif;
  color: #0000ff;
}
