*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

@font-face {
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-family: "OpenSans";
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-family: "OpenSans";
  font-weight: 700;
  font-style: normal;
}

.default-button {
  display: block;
  outline: none;
  border: 2px solid #444444;
  border-radius: 0;
  padding: 0;
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #444444;
  background: none;
}

.default-button:hover, .default-button:focus {
  color: #ffffff;
  background: #444444;
  cursor: pointer;
}

.default-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.page {
  margin: 0;
}

.page__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding-top: 71px;
  min-width: 320px;
  min-height: 178px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  color: #000000;
  background: #f1f1f1;
}

@media (min-width: 768px) {
  .page__title {
    padding-top: 95px;
    min-height: 237px;
    font-size: 43px;
    line-height: 50px;
    background: #f1f1f1 url("../img/zigzag-line-white.svg") repeat-x center bottom -1px;
    background-size: 770px 24px;
  }
}

@media (min-width: 1050px) {
  .page__title {
    min-height: 270px;
    font-size: 53px;
    line-height: 57px;
    background-size: 1150px 34px;
  }
}

.centerer {
  padding: 0 30px;
  min-width: 320px;
}

@media (min-width: 768px) {
  .centerer {
    margin: 0 auto;
    padding: 0 50px;
    max-width: 1050px;
  }
  .centerer--asymmetrical {
    max-width: 800px;
  }
}

@media (min-width: 1050px) {
  .centerer {
    padding: 0;
  }
  .centerer--asymmetrical {
    margin: 0 0 0 175px;
    max-width: 875px;
  }
}

.header {
  position: relative;
  border-bottom: 1px solid #ececec;
  padding-top: 78px;
  min-width: 320px;
}

.header__logo-link {
  position: absolute;
  left: 50%;
  top: 22px;
  outline: none;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header__logo-link[href]:hover,
.header__logo-link[href]:focus {
  opacity: 0.6;
}

.header__logo-link[href]:active {
  opacity: 0.3;
}

.header__navigation {
  position: relative;
}

.header__menu-toggle {
  position: absolute;
  right: 23px;
  top: -56px;
  outline: none;
  border: none;
  padding: 0;
  width: 36px;
  height: 36px;
  background: none;
  cursor: pointer;
}

.header__menu-toggle::before, .header__menu-toggle::after {
  content: "";
  position: absolute;
  background: #000000;
}

.header__menu-toggle:hover::before, .header__menu-toggle:hover::after, .header__menu-toggle:focus::before, .header__menu-toggle:focus::after {
  background: rgba(0, 0, 0, 0.6);
}

.header__menu-toggle:active::before, .header__menu-toggle:active::after {
  background: rgba(0, 0, 0, 0.3);
}

.header__navigation--opened .header__menu-toggle::before, .header__navigation--opened .header__menu-toggle::after {
  left: 5px;
  top: 17px;
  width: 26px;
  height: 2px;
}

.header__navigation--opened .header__menu-toggle::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header__navigation--opened .header__menu-toggle::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header__navigation--closed .header__menu-toggle::before {
  left: 7px;
  top: 17px;
  width: 22px;
  height: 2px;
  -webkit-box-shadow: 0 7px 0 0 #000000, 0 -7px 0 0 #000000;
          box-shadow: 0 7px 0 0 #000000, 0 -7px 0 0 #000000;
}

.header__navigation--closed .header__menu-toggle:hover::before, .header__navigation--closed .header__menu-toggle:focus::before {
  -webkit-box-shadow: 0 7px 0 0 rgba(0, 0, 0, 0.6), 0 -7px 0 0 rgba(0, 0, 0, 0.6);
          box-shadow: 0 7px 0 0 rgba(0, 0, 0, 0.6), 0 -7px 0 0 rgba(0, 0, 0, 0.6);
}

.header__navigation--closed .header__menu-toggle:active::before {
  -webkit-box-shadow: 0 7px 0 0 rgba(0, 0, 0, 0.3), 0 -7px 0 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 7px 0 0 rgba(0, 0, 0, 0.3), 0 -7px 0 0 rgba(0, 0, 0, 0.3);
}

.header__main-menu-link {
  display: block;
  outline: none;
  border-top: 1px solid #ececec;
  padding: 27px 0;
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.header__main-menu-link[href]:hover, .header__main-menu-link[href]:focus {
  color: rgba(0, 0, 0, 0.6);
}

.header__main-menu-link[href]:active {
  color: rgba(0, 0, 0, 0.3);
}

.header__search-button {
  display: block;
  outline: none;
  border: none;
  border-top: 1px solid #ececec;
  padding: 27px 0;
  width: 100%;
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  background: none;
  cursor: pointer;
}

.header__search-button:hover, .header__search-button:focus {
  color: rgba(0, 0, 0, 0.6);
}

.header__search-button:hover .header__search-button-icon path, .header__search-button:focus .header__search-button-icon path {
  fill: #63d1bb;
}

.header__search-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.header__search-button:active .header__search-button-icon path {
  opacity: 0.3;
}

.header__search-button-text {
  position: relative;
}

.header__search-button-icon {
  position: absolute;
  left: -43px;
  top: 4px;
}

.header__shopping-cart-link {
  display: block;
  outline: none;
  border-top: 1px solid #ececec;
  padding: 27px 0;
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.header__shopping-cart-link:hover, .header__shopping-cart-link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.header__shopping-cart-link:hover .header__shopping-cart-link-icon path, .header__shopping-cart-link:focus .header__shopping-cart-link-icon path {
  fill: #63d1bb;
}

.header__shopping-cart-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.header__shopping-cart-link:active .header__shopping-cart-link-icon path {
  opacity: 0.3;
}

.header__shopping-cart-link-text {
  position: relative;
}

.header__shopping-cart-link-icon {
  position: absolute;
  left: -43px;
  top: 2px;
}

.header__additional-links {
  display: none;
}

.header__free-shipping {
  display: none;
}

.header__navigation--closed .header__main-menu,
.header__navigation--closed .header__user-menu {
  display: none;
}

@media (min-width: 768px) {
  .header__navigation--closed .header__main-menu,
  .header__navigation--closed .header__user-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__navigation--opened .header__main-menu,
  .header__navigation--opened .header__user-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__menu-toggle {
    display: none;
  }
  .header {
    border-bottom: 1px solid #ececec;
    padding: 0 50px;
  }
  .header__logo-link {
    left: 50px;
    top: 22px;
    z-index: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .header__navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__main-menu {
    position: absolute;
    left: 0;
    bottom: -49px;
    z-index: 1;
  }
  .header__main-menu-link {
    border-top: none;
    padding: 5px 0;
    font-size: 15px;
  }
  .header__main-menu-link--catalog {
    margin-right: 35px;
  }
  .header__user-menu {
    margin-left: auto;
  }
  .header__search-button {
    border: none;
    border-left: 1px solid #ececec;
    width: 84px;
    font-size: 0;
  }
  .header__search-button-icon {
    left: -8px;
    top: -8px;
  }
  .header__shopping-cart-link {
    border-top: none;
    border-left: 1px solid #ececec;
    padding: 31px 0 32px 83px;
  }
  .header__shopping-cart-link-icon {
    left: -52px;
  }
  .header__free-shipping {
    position: absolute;
    right: 0;
    bottom: -44px;
    z-index: 1;
    display: inline;
    font-family: "OpenSans", "Arial", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #444444;
  }
}

@media (min-width: 1050px) {
  .header {
    padding: 0;
  }
  .header__logo-link {
    left: 50%;
    top: 8px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .header__navigation {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    max-width: 1050px;
  }
  .header__main-menu {
    position: static;
  }
  .header__main-menu-link {
    padding: 31px 35px 32px;
    font-size: 17px;
    line-height: 24px;
  }
  .header__main-menu-link--catalog {
    margin: 0;
    border-right: 1px solid #ececec;
    padding-left: 0;
  }
  .header__user-menu {
    margin: 0;
  }
  .header__additional-links {
    position: absolute;
    left: 0;
    bottom: -49px;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 5px 0;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    color: #000000;
  }
  .header__additional-link {
    outline: none;
    font-family: "OpenSans", "Arial", sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    text-decoration: none;
    color: #000000;
  }
  .header__additional-link:hover, .header__additional-link:focus {
    color: rgba(0, 0, 0, 0.6);
  }
  .header__additional-link:active {
    color: rgba(0, 0, 0, 0.3);
  }
  .header__additional-link--new {
    margin-right: 60px;
  }
}

.preview {
  position: relative;
  margin: 0 auto;
  padding-top: 70px;
  height: 488px;
  min-width: 320px;
  font-family: "OpenSans", "Arial", sans-serif;
  background: #fafafa url("../img/prev-bg-mobile.jpg") no-repeat center -20px;
}

.preview__subtitle {
  display: block;
  margin: 0 auto;
  width: 255px;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
}

.preview__links {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 211px;
}

.preview__link {
  position: absolute;
  left: 0;
  display: block;
  outline: none;
  padding: 25px 0 0 30px;
  width: 100%;
  height: 103px;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  text-decoration: none;
  color: #ffffff;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.preview__link:hover, .preview__link:focus {
  height: 108px;
}

.preview__link:active {
  color: rgba(255, 255, 255, 0.3);
}

.preview__link--interior {
  bottom: 103px;
  z-index: 1;
  background: #63d1bb;
}

.preview__link--interior::after {
  content: "";
  position: absolute;
  right: 36px;
  top: 22px;
  width: 41px;
  height: 62px;
  background: url("../img/prev-lamp.svg") no-repeat 0 0;
  opacity: 0.5;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.preview__link--interior:hover, .preview__link--interior:focus {
  background: #59d5bc;
}

.preview__link--interior:hover::after, .preview__link--interior:focus::after {
  opacity: 0.7;
}

.preview__link--interior:active::after {
  opacity: 0.3;
}

.preview__link--toys {
  bottom: 0;
  z-index: 2;
  background: #56c3b2;
}

.preview__link--toys::after {
  content: "";
  position: absolute;
  right: 27px;
  top: 20px;
  width: 60px;
  height: 60px;
  background: url("../img/prev-lego.svg") no-repeat 0 0;
  opacity: 0.5;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.preview__link--toys:hover, .preview__link--toys:focus {
  background: #46c1ae;
}

.preview__link--toys:hover::after, .preview__link--toys:focus::after {
  opacity: 0.7;
}

.preview__link--toys:active::after {
  opacity: 0.3;
}

@media (min-width: 768px) {
  .preview {
    padding-top: 154px;
    height: auto;
    background: #fafafa url("../img/prev-bg-desktop.jpg") no-repeat center 0;
  }
  .preview::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 3;
    width: 100%;
    height: 12px;
    background: url("../img/zigzag-line-white.svg") repeat-x center top;
    background-size: 770px 24px;
  }
  .preview__subtitle {
    margin: 0 auto 367px;
    width: 500px;
    font-size: 43px;
    line-height: 50px;
  }
  .preview__links {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: 124px;
  }
  .preview__link {
    position: relative;
    left: auto;
    bottom: auto;
    padding: 28px 0 0 35px;
    width: 50%;
    height: 119px;
    font-size: 20px;
    line-height: 30px;
  }
  .preview__link:hover, .preview__link:focus {
    height: 124px;
  }
  .preview__link--interior::after {
    top: 31px;
  }
  .preview__link--toys::after {
    right: 34px;
    top: 33px;
  }
}

@media (min-width: 1050px) {
  .preview::before {
    height: 19px;
    background-size: 1150px 34px;
  }
  .preview__subtitle {
    margin: 0 auto 354px;
    width: 660px;
    font-size: 53px;
    line-height: 57px;
  }
  .preview__links {
    height: 126px;
  }
  .preview__link {
    padding: 28px 0 0 35px;
    height: 121px;
  }
  .preview__link:hover, .preview__link:focus {
    height: 126px;
  }
}

.week-product {
  margin: 0 auto;
  padding: 28px 0 36px;
  min-width: 320px;
  max-width: 1050px;
  font-family: "OpenSans", "Arial", sans-serif;
}

.week-product__centerer {
  position: relative;
}

.week-product__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 25px;
}

.week-product__title {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: #63d1bb;
}

.week-product__name {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin: 0 0 4px;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.week-product__description {
  margin: 0 0 15px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #444444;
}

.week-product__specifications {
  margin: 0 auto 26px;
  border-collapse: collapse;
  width: 260px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #444444;
}

.week-product__column {
  border-bottom: 1px solid #ececec;
  padding: 8px 0;
}

.week-product__column--1 {
  width: 37%;
}

.week-product__image {
  display: block;
  margin: 0 auto 24px;
}

.week-product__price {
  margin: 0 0 26px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: #444444;
}

.week-product__default-button {
  margin: 0 auto;
  width: 260px;
}

@media (min-width: 768px) {
  .week-product {
    padding: 47px 0 53px;
  }
  .week-product__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 48px;
  }
  .week-product__title {
    margin-right: 25px;
    width: 75px;
    font-size: 17px;
    line-height: 17px;
    text-align: center;
  }
  .week-product__name {
    margin: 0;
    font-size: 43px;
    line-height: 50px;
  }
  .week-product__description {
    margin: 0 0 34px;
    width: 292px;
    font-size: 17px;
    line-height: 30px;
  }
  .week-product__specifications {
    margin: 0 0 53px;
    width: 292px;
  }
  .week-product__image {
    position: absolute;
    right: 50px;
    top: 105px;
    margin: 0;
  }
  .week-product__price {
    margin: 0 0 35px;
    width: 292px;
    font-size: 20px;
    line-height: 24px;
  }
  .week-product__default-button {
    margin: 0;
    width: 292px;
  }
}

@media (min-width: 1050px) {
  .week-product {
    padding: 122px 0 74px;
  }
  .week-product__title {
    position: absolute;
    left: -130px;
    top: 15px;
  }
  .week-product__name {
    font-size: 53px;
    line-height: 57px;
  }
  .week-product__description {
    margin: 0 0 47px;
  }
  .week-product__specifications {
    margin: 0 0 107px;
  }
  .week-product__image {
    right: 0;
    top: -53px;
    z-index: -1;
  }
  .week-product__price {
    margin: 0 0 35px;
  }
}

.advantages {
  margin: 0 auto;
  padding-top: 35px;
  min-width: 320px;
  max-width: 1050px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 700;
  background: url("../img/zigzag-line.svg") no-repeat center 0;
}

.advantages__subtitle {
  display: block;
  margin-bottom: 30px;
  font-size: 25px;
  line-height: 30px;
}

.advantages__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advantages__item {
  padding-top: 54px;
  padding-bottom: 29px;
}

.advantages__item--1 {
  background: url("../img/adv-flower.svg") no-repeat;
  background-position: center 0;
  background-size: 32px 37px;
}

.advantages__item--2 {
  background: url("../img/adv-bill.svg") no-repeat;
  background-position: center 0;
  background-size: 47px 27px;
}

.advantages__item--3 {
  background: url("../img/adv-heart.svg") no-repeat;
  background-position: center 0;
  background-size: 34px 27px;
}

.advantages__item--4 {
  background: url("../img/adv-ball.svg") no-repeat;
  background-position: center 0;
  background-size: 34px 34px;
}

.advantages__item--5 {
  background: url("../img/adv-rocket.svg") no-repeat;
  background-position: center 0;
  background-size: 55px 23px;
}

.advantages__item--6 {
  background: url("../img/adv-gift.svg") no-repeat;
  background-position: center 0;
  background-size: 33px 32px;
}

.advantages__description {
  margin: 0 auto;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
}

.advantages__description--1 {
  width: 180px;
}

.advantages__description--2 {
  width: 200px;
}

.advantages__description--3 {
  width: 190px;
}

.advantages__description--4 {
  width: 220px;
}

.advantages__description--5 {
  width: 260px;
}

.advantages__description--6 {
  width: 200px;
}

@media (min-width: 768px) {
  .advantages {
    padding-top: 68px;
  }
  .advantages__subtitle {
    margin-bottom: 48px;
    font-size: 43px;
    line-height: 50px;
  }
  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .advantages__item {
    padding: 54px 0 57px;
    width: 334px;
    background-position: 0 0;
  }
  .advantages__item--1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .advantages__item--2 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .advantages__item--3 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .advantages__item--4 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .advantages__item--5 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .advantages__item--6 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .advantages__description {
    margin: 0;
    font-size: 20px;
    line-height: 22px;
    text-align: left;
  }
  .advantages__description--1 {
    width: 210px;
  }
  .advantages__description--2 {
    width: 240px;
  }
  .advantages__description--3 {
    width: 220px;
  }
  .advantages__description--4 {
    width: 250px;
  }
  .advantages__description--5 {
    width: 300px;
  }
  .advantages__description--6 {
    width: 240px;
  }
}

@media (min-width: 1050px) {
  .advantages {
    padding-top: 83px;
  }
  .advantages__subtitle {
    font-size: 53px;
    line-height: 57px;
  }
  .advantages__item {
    padding: 55px 0 56px;
    width: 350px;
  }
}

.reviews {
  margin: 0 auto;
  padding: 29px 0 52px;
  min-width: 320px;
  max-width: 1050px;
  font-family: "OpenSans", "Arial", sans-serif;
  background: url("../img/zigzag-line.svg") no-repeat center bottom;
}

.reviews__centerer {
  position: relative;
}

.reviews__title {
  margin: 0 0 25px;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.reviews__list {
  list-style-type: none;
  margin: 0 0 34px;
  padding: 0;
}

.reviews__text {
  margin: 0 0 28px;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}

.reviews__name {
  margin: 0 0 10px;
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
}

.reviews__mail {
  margin: 0;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  color: #444444;
}

.reviews__switches {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto 37px;
  border: 1px solid #ececec;
  width: 260px;
}

.reviews__switches::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 1px;
  height: 50px;
  background: #ececec;
}

.reviews__switch {
  outline: none;
  border: none;
  border-radius: 0;
  padding: 0;
  width: 130px;
  height: 50px;
}

.reviews__switch:hover, .reviews__switch:focus {
  opacity: 0.6;
  cursor: pointer;
}

.reviews__switch:active {
  opacity: 0.3;
}

.reviews__switch--back {
  background: url("../img/rev-arrow-back.svg") no-repeat center;
  background-size: 50px 26px;
}

.reviews__switch--next {
  margin-left: -1px;
  background: url("../img/rev-arrow-next.svg") no-repeat center;
  background-size: 50px 26px;
}

.reviews__default-button {
  margin: 0 auto;
  width: 260px;
}

@media (min-width: 768px) {
  .reviews {
    padding: 108px 0 134px;
    background: url("../img/zigzag-line.svg") no-repeat center bottom, url("../img/rev-bg.jpg") no-repeat 0 29px;
  }
  .reviews__title {
    margin: 0 0 48px;
    font-size: 43px;
    line-height: 50px;
  }
  .reviews__list {
    margin: 0;
  }
  .reviews__text {
    margin: 0 0 58px;
    font-size: 17px;
  }
  .reviews__name {
    margin: 0 0 8px;
    font-size: 18px;
    line-height: 24px;
  }
  .reviews__switches {
    position: absolute;
    right: 68px;
    bottom: 0;
    margin: 0;
    border: none;
    width: 140px;
  }
  .reviews__switches::before {
    content: none;
  }
  .reviews__switch {
    width: 70px;
  }
  .reviews__switch--back {
    background-position: left center;
  }
  .reviews__switch--next {
    margin-left: -1px;
    background-position: right center;
  }
  .reviews__default-button {
    position: absolute;
    right: 50px;
    top: 2px;
    width: 175px;
  }
}

@media (min-width: 1050px) {
  .reviews {
    padding: 107px 0 190px;
    background: url("../img/zigzag-line.svg") no-repeat center bottom, url("../img/rev-bg.jpg") no-repeat 0 36px;
  }
  .reviews__title {
    font-size: 53px;
    line-height: 57px;
  }
  .reviews__text {
    margin: 0 0 40px;
    max-width: 775px;
  }
  .reviews__name {
    margin: 0 0 6px;
  }
  .reviews__switches {
    right: 18px;
  }
  .reviews__default-button {
    right: 0;
    top: 8px;
  }
}

.contacts {
  position: relative;
  margin: 0 auto;
  padding: 37px 0 39px;
  min-width: 320px;
  max-width: 1050px;
  font-family: "OpenSans", "Arial", sans-serif;
}

.contacts__title {
  margin: 0 0 26px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.contacts__wrapper {
  margin-bottom: 533px;
}

.contacts__wrapper-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 260px;
}

.contacts__wrapper-category--mail {
  margin-bottom: 30px;
}

.contacts__category,
.contacts__data {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}

.contacts__category {
  margin: 0 30px 0 0;
  width: 48px;
}

.contacts__data {
  margin: 0;
}

.contacts__link {
  position: relative;
  outline: none;
  text-decoration: none;
  color: #444444;
}

.contacts__link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 1px;
  background: #63d1bb;
}

.contacts__link:hover, .contacts__link:focus {
  color: #63d1bb;
}

.contacts__link:active {
  color: rgba(99, 209, 187, 0.3);
}

.contacts__link:active::before {
  background: rgba(99, 209, 187, 0.3);
}

.contacts__map {
  position: absolute;
  left: 0;
  right: 0;
  top: 310px;
  height: 457px;
  min-width: 320px;
}

.contacts__map-iframe {
  border: none;
  width: 100%;
  height: 457px;
}

.contacts__default-button {
  margin: 0 auto;
  width: 260px;
}

@media (min-width: 768px) {
  .contacts {
    padding: 50px 0 57px;
  }
  .contacts__centerer {
    padding-top: 15px;
    background: url("../img/cont-flag.svg") no-repeat top 0 right 53px;
    background-size: 47px 81px;
  }
  .contacts__title {
    margin: 0 0 48px;
    font-size: 43px;
    line-height: 50px;
  }
  .contacts__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 569px;
  }
  .contacts__wrapper-category {
    margin: 0;
    width: auto;
  }
  .contacts__wrapper-category--mail {
    margin-right: 54px;
  }
  .contacts__category,
  .contacts__data {
    font-size: 17px;
  }
  .contacts__category {
    margin: 0 20px 0 0;
    width: 55px;
  }
  .contacts__map {
    top: 307px;
  }
  .contacts__default-button {
    width: 230px;
  }
}

@media (min-width: 1050px) {
  .contacts {
    padding: 72px 0 107px;
    background: url("../img/cont-flag.svg") no-repeat top 132px left 63px;
    background-size: 47px 81px;
  }
  .contacts__centerer {
    position: relative;
    padding-top: 70px;
    background: none;
  }
  .contacts__title {
    font-size: 53px;
    line-height: 57px;
  }
  .contacts__wrapper {
    display: block;
    margin-bottom: 80px;
  }
  .contacts__wrapper-category--mail {
    margin-bottom: 30px;
  }
  .contacts__map {
    left: auto;
    right: 0;
    top: 0;
    width: 525px;
  }
  .contacts__default-button {
    margin: 0;
  }
}

.footer {
  padding: 26px 0 25px;
  min-width: 320px;
  font-family: "OpenSans", "Arial", sans-serif;
  background: #f1f1f1;
}

.footer__centerer {
  position: relative;
}

.footer__centerer::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 55px;
  width: 80%;
  height: 1px;
  max-width: 320px;
  background: #e5e5e5;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.footer__logo-link {
  display: none;
  outline: none;
}

.footer__logo-link[href]:hover .footer__logo-image path,
.footer__logo-link[href]:focus .footer__logo-image path {
  fill: #46c1ae;
}

.footer__logo-link[href]:active .footer__logo-image path {
  fill: rgba(70, 193, 174, 0.3);
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto 47px;
  padding: 0 56px;
  max-width: 350px;
}

.footer__social-link {
  outline: none;
}

.footer__social-link:hover .footer__social-logo path,
.footer__social-link:focus .footer__social-logo path {
  fill: #46c1ae;
}

.footer__social-link:active .footer__social-logo path {
  fill: rgba(70, 193, 174, 0.3);
}

.footer__social-logo {
  display: block;
}

.footer__developer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  outline: none;
  outline-offset: 5px;
  width: 185px;
  font-weight: 700;
  font-size: 19px;
  text-decoration: none;
  color: #231f20;
}

.footer__developer-link:hover .footer__academy-logo path,
.footer__developer-link:focus .footer__academy-logo path {
  fill: #46c1ae;
}

.footer__developer-link:active .footer__academy-logo path {
  fill: rgba(70, 193, 174, 0.3);
}

.footer__developer-link:active {
  color: rgba(35, 31, 32, 0.3);
}

@media (min-width: 768px) {
  .footer {
    padding: 50px 0;
  }
  .footer__centerer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__centerer::before {
    content: none;
  }
  .footer__logo-link {
    display: block;
  }
  .footer__logo-image {
    display: block;
  }
  .footer__social {
    position: absolute;
    left: 50%;
    top: 5px;
    margin: 0;
    padding: 0;
    width: 145px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .footer__developer-link {
    margin: 0;
  }
}

.product-cards {
  padding: 30px 0 0;
  min-width: 320px;
  font-family: "OpenSans", "Arial", sans-serif;
}

.product-card {
  margin: 0 auto 30px;
  width: 260px;
}

.product-card__img-link {
  display: block;
  outline: none;
  width: 260px;
  height: 195px;
}

.product-card__img-link:hover + .product-card__description,
.product-card__img-link:focus + .product-card__description {
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}

.product-card__img-link:active + .product-card__description {
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

.product-card__description {
  position: relative;
  border: 1px solid #ededed;
  padding: 23px 28px 27px;
}

.product-card__description:hover {
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}

.product-card__description:active {
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

.product-card__title {
  margin: 0 0 7px;
}

.product-card__title-link {
  outline: none;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
}

.product-card__title-link:hover, .product-card__title-link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.product-card__title-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.product-card__specifications {
  margin: 0 0 40px;
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  color: #444444;
}

.product-card__price {
  position: relative;
  margin: 0;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
}

.product-card__price::before {
  content: "";
  position: absolute;
  left: 0;
  top: -22px;
  width: 100%;
  height: 1px;
  background: #ececec;
}

.product-card__buy-button {
  position: absolute;
  right: 14px;
  bottom: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: none;
  border: none;
  padding: 0;
  width: 45px;
  height: 45px;
  background: none;
  cursor: pointer;
}

.product-card__buy-button path {
  stroke: rgba(34, 31, 31, 0.2);
}

.product-card__buy-button:hover path,
.product-card__buy-button:focus path {
  stroke: #63d1bb;
}

.product-card__buy-button:active path {
  stroke: rgba(99, 209, 187, 0.3);
}

@media (min-width: 768px) {
  .product-cards {
    padding: 67px 0 0;
  }
  .product-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto 54px;
    width: 668px;
  }
  .product-card__img-link {
    width: 334px;
    height: 334px;
  }
  .product-card__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 334px;
  }
  .product-card__title-link {
    font-size: 20px;
  }
  .product-card__specifications {
    margin: 0;
    font-size: 15px;
  }
  .product-card__price {
    margin-top: auto;
    font-size: 17px;
  }
  .product-card__buy-button {
    right: 20px;
    bottom: 16px;
  }
}

@media (min-width: 1050px) {
  .product-cards {
    padding: 113px 0 0;
  }
  .product-cards__centerer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .product-card {
    display: block;
    margin: 0 0 50px;
    width: 316px;
  }
  .product-card:not(.product-card:nth-of-type(3n)) {
    margin-right: 50px;
  }
  .product-card__img-link {
    width: 316px;
    height: 462px;
  }
  .product-card__description {
    width: auto;
    height: 197px;
  }
}

.production-process {
  padding: 0 0 58px;
  min-width: 320px;
  font-family: "OpenSans", "Arial", sans-serif;
}

.production-process-wrapper {
  position: relative;
  margin: 0 auto;
  width: 260px;
}

.production-process-description-wrapper {
  border: 1px solid #ececec;
  padding: 24px 0 32px;
}

.production-process-title {
  margin: 0 0 200px;
  padding: 0 0 0 89px;
  width: 130px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  background: url("../img/proc-camera.svg") no-repeat 33px 10px;
  background-size: 32px 22px;
}

.production-process-description {
  margin: 0 0 26px;
  padding: 0 33px;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
}

.production-proces-default-button {
  margin: 0 auto;
  width: 192px;
}

.production-process-video {
  position: absolute;
  left: 0;
  top: 95px;
  width: 260px;
  height: 150px;
  background: url("../img/proc-bg-desktop.jpg") no-repeat;
  background-size: cover;
}

.production-process-play {
  position: absolute;
  left: 50%;
  top: 50%;
  outline: none;
  border: none;
  padding: 0;
  width: 101px;
  height: 77px;
  background: url("../img/proc-play-btn.svg") no-repeat 0 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  cursor: pointer;
}

.production-process-play:hover, .production-process-play:focus {
  width: 121px;
  height: 97px;
}

.production-process-play:active {
  width: 101px;
  height: 77px;
  opacity: 0.8;
}

@media (min-width: 768px) {
  .production-process {
    padding: 0 0 64px;
  }
  .production-process-wrapper {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 668px;
  }
  .production-process-description-wrapper {
    padding: 36px 40px 44px;
  }
  .production-process-title {
    margin: 0 0 35px;
    padding: 0 0 0 65px;
    width: auto;
    font-size: 20px;
    background: url("../img/proc-camera.svg") no-repeat 0 0;
    background-size: 32px 22px;
  }
  .production-process-description {
    margin: 0 0 34px;
    padding: 0;
    font-size: 15px;
    line-height: 30px;
  }
  .production-proces-default-button {
    margin: 0;
    width: 100%;
  }
  .production-process-video {
    position: relative;
    top: 0;
    width: 668px;
    height: 455px;
  }
}

@media (min-width: 1050px) {
  .production-process {
    padding: 0 0 105px;
  }
  .production-process-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: auto;
  }
  .production-process-description-wrapper {
    padding: 46px 56px 44px 77px;
    width: 366px;
  }
  .production-process-title {
    margin: 0 0 32px;
    padding: 50px 0 0;
    width: 150px;
    background: url("../img/proc-camera.svg") no-repeat 0 0;
    background-size: 32px 22px;
  }
  .production-process-description {
    margin: 0 0 47px;
  }
  .production-process-video {
    width: 682px;
  }
}

.form {
  padding: 22px 0 55px;
  min-width: 320px;
  font-family: "OpenSans", "Arial", sans-serif;
}

.form__intro {
  margin: 0 0 30px;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
}

.form__fieldset {
  position: relative;
  margin: 0;
  border: none;
  border-top: 2px solid #62d1ba;
}

.form__fieldset--type,
.form__fieldset--color {
  padding: 41px 0 7px;
}

.form__legend {
  position: absolute;
  left: 0;
  top: -10px;
  z-index: 1;
  font-weight: 700;
  font-size: 17px;
  line-height: 17px;
  text-transform: uppercase;
  color: #63d1bb;
}

.form__legend::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 60px;
  height: 100%;
  background: #ffffff;
}

.form__legend--email::before {
  width: 80px;
}

.form__label {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.form__label--choice {
  position: relative;
  display: block;
  margin: 0 0 21px;
  padding: 0 0 0 61px;
  min-height: 40px;
}

.form__label--choice:hover .form__indicator {
  border-color: #62d1ba;
}

.form__label--choice:active .form__indicator {
  border-color: #c7c7c7;
}

.form__indicator {
  position: absolute;
  left: 0;
  top: -9px;
  border: 2px solid #444444;
  width: 40px;
  height: 40px;
}

.form__indicator::before, .form__indicator::after {
  content: "";
  position: absolute;
  display: none;
}

.form__indicator--radio {
  border-radius: 50%;
}

.form__indicator--radio::before {
  left: 50%;
  top: 50%;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: #62d1ba;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.form__indicator--checkbox::before, .form__indicator--checkbox::after {
  border-radius: 1px;
  background: #000000;
}

.form__indicator--checkbox::before {
  left: 7px;
  bottom: 13px;
  width: 10px;
  height: 2px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.form__indicator--checkbox::after {
  left: 12px;
  bottom: 16px;
  width: 20px;
  height: 2px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.form__input-choice:checked + .form__indicator::before, .form__input-choice:checked + .form__indicator::after {
  display: block;
}

.form__input-choice:focus + .form__indicator {
  border-color: #62d1ba;
}

.form__input-choice:active + .form__indicator {
  border-color: #c7c7c7;
}

.form__fieldset--name {
  padding: 38px 0 18px;
}

.form__input-name-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 22px;
}

.form__input {
  outline: none;
  border: none;
  border-bottom: 2px solid #000000;
  width: 100%;
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  color: #444444;
}

.form__input::-webkit-input-placeholder {
  color: #444444;
  opacity: 0.3;
}

.form__input:-ms-input-placeholder {
  color: #444444;
  opacity: 0.3;
}

.form__input::-ms-input-placeholder {
  color: #444444;
  opacity: 0.3;
}

.form__input::placeholder {
  color: #444444;
  opacity: 0.3;
}

.form__input:hover, .form__input:focus {
  border-color: #62d1ba;
}

.form__input--name {
  padding: 14px 0;
}

.form__fieldset--contacts {
  padding: 14px 0 39px;
}

.form__input-contacts-wrapper {
  position: relative;
  margin: 0;
}

.form__input--contacts {
  padding: 14px 50px 14px 0;
}

/* ^ autocomplete */
.form__icon-contacts {
  position: absolute;
}

.form__icon-contacts path {
  fill: rgba(0, 0, 0, 0.2);
}

.form__icon-contacts--tel {
  right: 8px;
  top: 9px;
}

.form__icon-contacts--email {
  right: 5px;
  top: 15px;
}

.form__input--contacts:hover + .form__icon-contacts path,
.form__input--contacts:focus + .form__icon-contacts path {
  fill: #62d1ba;
}

.form__fieldset--additional {
  padding: 33px 0 11px;
}

.form__input--additional {
  border: 2px solid #444444;
  padding: 14px;
  min-height: 142px;
  resize: none;
}

.form__rule {
  margin: 0 0 30px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #444444;
}

.default-button--submit {
  width: 100%;
}

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 4;
  display: none;
  border: 1px solid #c7c7c7;
  padding: 32px 0 40px;
  width: 320px;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 5px 10px 0 rgba(0, 1, 1, 0.2);
  font-family: "OpenSans", "Arial", sans-serif;
  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.modal--show {
  display: block;
}

.modal__overlay {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
}

.modal__overlay--show {
  display: block;
}

.modal__title {
  margin: 0 auto 10px;
  width: 150px;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.modal__select-size-text {
  margin: 0 0 23px;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  color: #444444;
}

.modal__form {
  margin: 0 auto;
  width: 260px;
}

.modal__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.modal__form-item {
  position: relative;
  width: 82px;
  height: 52px;
  cursor: pointer;
}

.modal__form-indicator {
  position: absolute;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid rgba(68, 68, 68, 0.1);
  width: 82px;
  height: 52px;
  font-weight: 700;
  font-size: 17px;
  text-transform: uppercase;
  color: #444444;
}

.modal__form-item:hover .modal__form-indicator {
  border: 2px solid rgba(68, 68, 68, 0.3);
}

.modal__form-input:focus + .modal__form-indicator {
  border: 2px solid #62d1ba;
}

.modal__form-item:active .modal__form-indicator {
  border: 2px solid #62d1ba;
}

.modal__form-input:checked + .modal__form-indicator {
  border: 2px solid #62d1ba;
}

.modal__default-button {
  border: 2px solid #63d1bb;
  width: 260px;
  font-size: 17px;
  color: #63d1bb;
}

.modal__default-button:hover, .modal__default-button:focus {
  color: #ffffff;
  background: #63d1bb;
  cursor: pointer;
}

.modal__default-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.modal__close-button {
  position: absolute;
  right: 5px;
  top: 5px;
  outline: none;
  border: none;
  padding: 0;
  width: 36px;
  height: 36px;
  background: none;
  cursor: pointer;
}

.modal__close-button::before, .modal__close-button::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 17px;
  width: 26px;
  height: 2px;
  background: #63d1bb;
}

.modal__close-button::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal__close-button::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal__close-button:hover::before, .modal__close-button:hover::after, .modal__close-button:focus::before, .modal__close-button:focus::after {
  background: rgba(99, 209, 187, 0.6);
}

.modal__close-button:active::before, .modal__close-button:active::after {
  background: rgba(99, 209, 187, 0.3);
}

@media (min-width: 768px) {
  .modal {
    padding: 32px 0 45px;
    width: 566px;
  }
  .modal__title {
    margin: 0 auto 12px;
    width: auto;
    font-size: 30px;
    line-height: 57px;
  }
  .modal__select-size-text {
    font-size: 17px;
  }
  .modal__form {
    width: 350px;
  }
  .modal__form-item {
    width: 112px;
  }
  .modal__form-indicator {
    width: 112px;
  }
  .modal__default-button {
    width: 350px;
  }
}
