@font-face {
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-family: "OpenSans";
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-family: "OpenSans";
  font-weight: 700;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.page {
  margin: 0;
}

.centerer {
  margin: 0 auto;
  padding: 0 30px;
  width: 260px;
}

@media (min-width: 768px) {
  .centerer {
    padding: 0 50px;
    width: 668px;
  }
}

.advantages {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 700;
}

.advantages__subtitle {
  display: block;
  margin-bottom: 30px;
  font-size: 25px;
  line-height: 30px;
}

.advantages__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advantages__item {
  padding-top: 50px;
  padding-bottom: 30px;
}

.advantages__item--1 {
  background: url("../img/adv-flower.svg") no-repeat 0 0;
  background-size: 32px 37px;
}

.advantages__item--2 {
  background: url("../img/adv-bill.svg") no-repeat 0 0;
  background-size: 47px 27px;
}

.advantages__item--3 {
  background: url("../img/adv-heart.svg") no-repeat 0 0;
  background-size: 34px 27px;
}

.advantages__item--4 {
  background: url("../img/adv-ball.svg") no-repeat 0 0;
  background-size: 34px 34px;
}

.advantages__item--5 {
  background: url("../img/adv-rocket.svg") no-repeat 0 0;
  background-size: 55px 23px;
}

.advantages__item--6 {
  background: url("../img/adv-gift.svg") no-repeat 0 0;
  background-size: 33px 32px;
}

.advantages__description {
  margin: 0;
  font-size: 17px;
  line-height: 20px;
}

.advantages__description--1 {
  width: 180px;
}

.advantages__description--2 {
  width: 200px;
}

.advantages__description--3 {
  width: 190px;
}

.advantages__description--4 {
  width: 220px;
}

.advantages__description--5 {
  width: 260px;
}

.advantages__description--6 {
  width: 200px;
}

@media (min-width: 768px) {
  .advantages__subtitle {
    margin-bottom: 45px;
    font-size: 43px;
    line-height: 50px;
  }
  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .advantages__item {
    padding-top: 55px;
    padding-bottom: 60px;
    width: 50%;
  }
  .advantages__description {
    font-size: 20px;
    line-height: 22px;
  }
  .advantages__description--1 {
    width: 210px;
  }
  .advantages__description--2 {
    width: 240px;
  }
  .advantages__description--3 {
    width: 220px;
  }
  .advantages__description--4 {
    width: 250px;
  }
  .advantages__description--5 {
    width: 300px;
  }
  .advantages__description--6 {
    width: 240px;
  }
}
