.centerer {
  // изначально просто задает паддинги и ширину меньше которой центровщик сократиться не может
  padding: 0 30px;
  min-width: 320px;
}

@media (min-width: $tablet) {
  .centerer {
    // с планшетной версии увеличиваются паддинги, центруется и ограничивается максимальная ширина, т.к. далее в том числе и на десктопе контент нужно держать по центру в определенных узких пределах не более 700px
    position: relative;
    margin: 0 auto;
    padding: 0 50px;
    max-width: 800px;
  }
}
