.centerer {
  position: relative;
  padding: 0 30px; // боковые паддинги
  min-width: 320px; // минималка
}

.centerer--map-position {
  position: static;
}

@media (min-width: $tablet) {
  .centerer {
    margin: 0 auto; // нужна центровка, т.к. сам блок уже улетает дальше
    padding: 0 50px;
    max-width: 800px; // 700 - контент + 100 паддинги
  }
}

@media (min-width: $desktop) {
  .centerer--asymmetrical {
    margin: 0 0 0 175px;
    padding: 0;
    max-width: 9999px;
  }

  .centerer--map-position {
    position: relative;
  }
}
