.centerer {
  padding: 0 30px;
  min-width: 320px;
}

@media (min-width: $tablet) {
  .centerer {
    margin: 0 auto;
    padding: 0 50px;
    max-width: 1050px;
  }

  .centerer--asymmetrical {
    max-width: 800px;
  }
}

@media (min-width: $desktop) {
  .centerer {
    padding: 0;
  }

  .centerer--asymmetrical {
    margin: 0 0 0 175px;
    max-width: 875px;
  }
}
