.default-button {
  display: block;
  outline: none;
  border: 2px solid $custom-gray;
  border-radius: 0;
  font-family: $opensans-font;
  font-weight: 700;
  font-size: 18px;
  line-height: 52px;
  text-align: center;
  text-transform: uppercase;
  color: $custom-gray;
  background: none;

  &:hover,
  &:focus {
    color: #ffffff;
    background: $custom-gray;
  }

  &:active {
    color: rgba(#ffffff, 0.3);
  }
}
