.footer {
  padding: 26px 0 22px;
  min-width: 320px;
  font-family: $opensans-font;
  background: #f1f1f1;
}

.footer__centerer::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 55px;
  width: 80%;
  height: 1px;
  max-width: 320px;
  background: #e5e5e5;
  transform: translateX(-50%);
}

.footer__logo-link {
  display: none;
  outline: none;
}

.footer__logo-link:hover:not(.page--main .footer__logo-link) .footer__logo-image path,
.footer__logo-link:focus:not(.page--main .footer__logo-link) .footer__logo-image path {
  fill: $custom-dark-turquoise;
}

.footer__logo-link:active:not(.page--main .footer__logo-link) .footer__logo-image path {
  fill: rgba($custom-dark-turquoise, 0.3);
}

.footer__social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto 48px;
  padding: 0 56px;
  max-width: 350px;
}

.footer__social-link {
  outline: none;

  &:hover .footer__social-logo path,
  &:focus .footer__social-logo path {
    fill: $custom-dark-turquoise;
  }

  &:active .footer__social-logo path {
    fill: rgba($custom-dark-turquoise, 0.3);
  }
}

.footer__social-logo {
  display: block;
}

.footer__developer-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  outline: none;
  outline-offset: 5px;
  width: 185px;
  font-weight: 700;
  font-size: 19px;
  text-decoration: none;
  color: #231f20;

  &:hover .footer__academy-logo path,
  &:focus .footer__academy-logo path {
    fill: $custom-dark-turquoise;
  }

  &:active .footer__academy-logo path {
    fill: rgba($custom-dark-turquoise, 0.3);
  }

  &:active {
    color: rgba(#231f20, 0.3);
  }
}

@media (min-width: $tablet) {
  .footer {
    padding: 50px 0;
  }

  .footer__centerer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &::before {
      content: none;
    }
  }

  .footer__logo-link {
    display: block;
  }

  .footer__logo-image {
    display: block;
  }

  .footer__social {
    position: absolute;
    left: 50%;
    top: 5px;
    margin: 0;
    padding: 0;
    width: 145px;
    transform: translateX(-50%);
  }

  .footer__developer-link {
    margin: 0;
  }
}
