.form {
  padding: 22px 30px 55px;
  min-width: 320px;
  font-family: $opensans-font;
}

.form__intro {
  margin: 0 0 30px;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
}

.form__fieldset {
  position: relative;
  margin: 0;
  border: none;
  border-top: 2px solid #62d1ba;
}

.form__fieldset--type,
.form__fieldset--color {
  padding: 41px 0 7px;
}

.form__legend {
  position: absolute;
  left: 0;
  top: -10px;
  z-index: 1;
  font-weight: 700;
  font-size: 17px;
  line-height: 17px;
  text-transform: uppercase;
  color: #63d1bb;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 60px;
    height: 100%;
    background: #ffffff;
  }
}

.form__legend--email {
  &::before {
    width: 80px;
  }
}

.form__label {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.form__label--choice {
  position: relative;
  display: block;
  margin: 0 0 21px;
  padding: 0 0 0 61px;
  min-height: 40px;

  &:hover {
    .form__indicator {
      border-color: #62d1ba;
    }
  }

  &:active {
    .form__indicator {
      border-color: #c7c7c7;
    }
  }
}

.form__indicator {
  position: absolute;
  left: 0;
  top: -9px;
  border: 2px solid #444444;
  width: 40px;
  height: 40px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    display: none;
  }
}

.form__indicator--radio {
  border-radius: 50%;

  &::before {
    left: 50%;
    top: 50%;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #62d1ba;
    transform: translate(-50%, -50%);
  }
}

.form__indicator--checkbox {
  &::before,
  &::after {
    border-radius: 1px;
    background: #000000;
  }

  &::before {
    left: 7px;
    bottom: 13px;
    width: 10px;
    height: 2px;
    transform: rotate(45deg);
  }

  &::after {
    left: 12px;
    bottom: 16px;
    width: 20px;
    height: 2px;
    transform: rotate(-45deg);
  }
}

.form__input-choice:checked + .form__indicator {
  &::before,
  &::after {
    display: block;
  }
}

.form__input-choice:focus + .form__indicator {
  border-color: #62d1ba;
}

.form__input-choice:active + .form__indicator {
  border-color: #c7c7c7;
}

.form__fieldset--name {
  padding: 38px 0 18px;
}

.form__input-name-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 0 22px;
}

.form__input {
  outline: none;
  border: none;
  border-bottom: 2px solid #000000;
  width: 100%;
  font-family: $opensans-font;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  color: #444444;

  &::placeholder {
    color: #444444;
    opacity: 0.3;
  }

  &:hover,
  &:focus {
    border-color: #62d1ba;
  }
}

.form__input:-webkit-autofill,
.form__input:-webkit-autofill::first-line {
  box-shadow: inset 0 0 0 50px #ffffff;
  font-family: $opensans-font;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  -webkit-text-fill-color: #444444;
}

.form__input--name {
  padding: 14px 0;
}

.form__fieldset--contacts {
  padding: 14px 0 39px;
}

.form__input-contacts-wrapper {
  position: relative;
  margin: 0;
}

.form__input--contacts {
  padding: 14px 50px 14px 0;
}

.form__icon-contacts {
  position: absolute;

  path {
    fill: rgba(#000000, 0.2);
  }
}

.form__icon-contacts--tel {
  right: 8px;
  top: 9px;
}

.form__icon-contacts--email {
  right: 5px;
  top: 15px;
}

.form__input--contacts:hover + .form__icon-contacts path,
.form__input--contacts:focus + .form__icon-contacts path {
  fill: #62d1ba;
}

.form__fieldset--additional {
  padding: 33px 0 16px;
}

.form__input--additional {
  display: block;
  border: 2px solid #444444;
  padding: 14px;
  min-height: 142px;
  resize: none;
}

.form__rule {
  margin: 0 0 30px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #444444;
}

.default-button--submit {
  width: 100%;
}

@media (min-width: $tablet) {
  .form {
    position: relative;
    padding: 61px 0 105px; // *
  }

  .form__intro {
    margin: 0 0 8px;
    padding: 0 0 0 50px;
    width: 662px;
    font-size: 17px;
    line-height: 30px;
  }

  .form__fieldset {
    display: flex;
    border: none;
    padding: 50px;

    &--tel {
      padding-bottom: 12px;
    }

    &--email {
      padding-top: 12px;
    }

    &--color,
    &--contacts {
      background: #f1f1f1;
    }
  }

  .form__legend {
    left: 50px;
    top: 65px;

    &::before {
      content: none;
    }

    &--email {
      top: 30px;
    }
  }

  .form__fieldset-wrapper {
    margin-left: auto;
    width: 500px;

    // background: rgba(#ff0000, 0.1);

    &--color {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .form__label--choice {
        width: 240px;
      }
    }
  }

  .form__label {
    padding: 17px 25px 0 0;
    font-size: 19px;
    line-height: 19px;
  }

  .form__label--choice {
    margin: 0;
    padding: 14px 0 0 80px;
    min-height: 52px;

    &:not(.form__label--choice:last-child) {
      margin: 0 0 24px;
    }
  }

  .form__fieldset-wrapper--color .form__label--choice:nth-last-child(-n+2) {
    margin: 0;
  }

  .form__indicator {
    left: 0;
    top: 0;
    width: 52px;
    height: 52px;
  }

  .form__indicator--radio {
    &::before {
      width: 20px;
      height: 20px;
    }
  }

  .form__indicator--checkbox {
    &::before {
      left: 6px;
      bottom: 17px;
      width: 16px;
    }

    &::after {
      left: 15px;
      bottom: 20px;
      width: 26px;
    }
  }

  .form__input-name-wrapper {
    flex-direction: row;
    margin: 0 0 24px;
  }

  .form__input-name-wrapper:last-child {
    margin: 0;
  }

  .form__input {
    font-size: 19px;
    line-height: 24px;
  }

  .form__input:-webkit-autofill,
  .form__input:-webkit-autofill::first-line {
    font-size: 19px;
    line-height: 24px;
  }

  .form__input--name {
    padding: 13px 0 13px 18px;
  }

  .form__input--contacts {
    padding: 13px 50px 13px 18px;
    background: #f1f1f1;

    &:-webkit-autofill,
    &:-webkit-autofill::first-line {
      box-shadow: inset 0 0 0 50px #f1f1f1;
    }
  }

  .form__icon-contacts--tel {
    right: 25px;
    top: 10px;
  }

  .form__icon-contacts--email {
    right: 23px;
    top: 17px;
  }

  .form__rule {
    position: absolute;
    right: 50px;
    bottom: 65px;
    margin: 0;
    font-size: 17px;
    line-height: 30px;
  }

  .default-button--submit {
    position: absolute;
    left: 50px;
    bottom: 50px;
    width: 230px;
  }
}
