.header {
  position: relative;
  border-bottom: 1px solid $custom-light-gray;
  padding-top: 69px;
  min-width: 320px;
}

.header__logo-link {
  position: absolute;
  left: 50%;
  top: 15px;
  outline: none;
  transform: translateX(-50%);
}

.header__logo-link:not(.page--main .header__logo-link):hover,
.header__logo-link:not(.page--main .header__logo-link):focus {
  opacity: 0.6;
}

.header__logo-link:not(.page--main .header__logo-link):active {
  opacity: 0.3;
}

.header__navigation {
  position: relative;
}

.header__menu-open-close-button {
  position: absolute;
  right: 30px;
  top: -30px;
  width: 30px;
  height: 30px;
}

.header__main-menu-link {
  display: block;
  outline: none;
  border-top: 1px solid $custom-light-gray;
  padding: 27px 0;
  font-family: $opensans-font;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  color: #000000;

  &:hover,
  &:focus {
    color: rgba(#000000, 0.6);
  }

  &:active {
    color: rgba(#000000, 0.3);
  }
}

.header__search-button {
  display: block;
  outline: none;
  border: none;
  border-top: 1px solid $custom-light-gray;
  padding: 27px 0;
  width: 100%;
  font-family: $opensans-font;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  background: none;
  cursor: pointer;

  &:hover,
  &:focus {
    color: rgba(#000000, 0.6);

    .header__search-button-icon path {
      fill: #63d1bb;
    }
  }

  &:active {
    color: rgba(#000000, 0.3);

    .header__search-button-icon path {
      opacity: 0.3;
    }
  }
}

.header__search-button-text {
  position: relative;
}

.header__search-button-icon {
  position: absolute;
  left: -43px;
  top: 4px;
}

.header__shopping-cart-link {
  display: block;
  outline: none;
  border-top: 1px solid $custom-light-gray;
  padding: 27px 0;
  font-family: $opensans-font;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  color: #000000;

  &:hover,
  &:focus {
    color: rgba(#000000, 0.6);

    .header__shopping-cart-link-icon path {
      fill: #63d1bb;
    }
  }

  &:active {
    color: rgba(#000000, 0.3);

    .header__shopping-cart-link-icon path {
      opacity: 0.3;
    }
  }
}

.header__shopping-cart-link-text {
  position: relative;
}

.header__shopping-cart-link-icon {
  position: absolute;
  left: -43px;
  top: 2px;
}
