.header {
  position: relative;
  border-bottom: 1px solid $custom-light-gray;
  padding-top: 78px;
  min-width: 320px;

  // background: rgba(#ff0000, 0.1);
}

.header__logo-link {
  position: absolute;
  left: 50%;
  top: 22px;
  outline: none;
  transform: translateX(-50%);
}

.header__logo-link:not(.page--main .header__logo-link):hover,
.header__logo-link:not(.page--main .header__logo-link):focus {
  opacity: 0.6;
}

.header__logo-link:not(.page--main .header__logo-link):active {
  opacity: 0.3;
}

.header__navigation {
  position: relative;
}

.header__menu-toggle {
  position: absolute;
  right: 23px;
  top: -56px;
  outline: none;
  border: none;
  padding: 0;
  width: 36px;
  height: 36px;
  background: none;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    background: #000000;
  }

  &:hover,
  &:focus {
    &::before,
    &::after {
      background: rgba(#000000, 0.6);
    }
  }

  &:active {
    &::before,
    &::after {
      background: rgba(#000000, 0.3);
    }
  }
}

.header__navigation--opened .header__menu-toggle {
  &::before,
  &::after {
    left: 5px;
    top: 17px;
    width: 26px;
    height: 2px;
  }

  &::before {
    transform: rotate(-45deg);
  }

  &::after {
    transform: rotate(45deg);
  }
}

.header__navigation--closed .header__menu-toggle {
  &::before {
    left: 7px;
    top: 17px;
    width: 22px;
    height: 2px;
    box-shadow:
      0 7px 0 0 #000000,
      0 -7px 0 0 #000000;
  }

  &:hover,
  &:focus {
    &::before {
      box-shadow:
        0 7px 0 0 rgba(#000000, 0.6),
        0 -7px 0 0 rgba(#000000, 0.6);
    }
  }

  &:active {
    &::before {
      box-shadow:
        0 7px 0 0 rgba(#000000, 0.3),
        0 -7px 0 0 rgba(#000000, 0.3);
    }
  }
}

.header__main-menu-link {
  display: block;
  outline: none;
  border-top: 1px solid $custom-light-gray;
  padding: 27px 0;
  font-family: $opensans-font;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  color: #000000;

  &:hover,
  &:focus {
    color: rgba(#000000, 0.6);
  }

  &:active {
    color: rgba(#000000, 0.3);
  }
}

.header__search-button {
  display: block;
  outline: none;
  border: none;
  border-top: 1px solid $custom-light-gray;
  padding: 27px 0;
  width: 100%;
  font-family: $opensans-font;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  background: none;
  cursor: pointer;

  &:hover,
  &:focus {
    color: rgba(#000000, 0.6);

    .header__search-button-icon path {
      fill: #63d1bb;
    }
  }

  &:active {
    color: rgba(#000000, 0.3);

    .header__search-button-icon path {
      opacity: 0.3;
    }
  }
}

.header__search-button-text {
  position: relative;
}

.header__search-button-icon {
  position: absolute;
  left: -43px;
  top: 4px;
}

.header__shopping-cart-link {
  display: block;
  outline: none;
  border-top: 1px solid $custom-light-gray;
  padding: 27px 0;
  font-family: $opensans-font;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  color: #000000;

  &:hover,
  &:focus {
    color: rgba(#000000, 0.6);

    .header__shopping-cart-link-icon path {
      fill: #63d1bb;
    }
  }

  &:active {
    color: rgba(#000000, 0.3);

    .header__shopping-cart-link-icon path {
      opacity: 0.3;
    }
  }
}

.header__shopping-cart-link-text {
  position: relative;
}

.header__shopping-cart-link-icon {
  position: absolute;
  left: -43px;
  top: 2px;
}

.header__navigation--closed {
  .header__main-menu,
  .header__user-menu {
    display: none;
  }
}

@media (min-width: $tablet) {
  .header__navigation--closed {
    .header__main-menu,
    .header__user-menu {
      display: flex;
    }
  }

  .header__navigation--opened {
    .header__main-menu,
    .header__user-menu {
      display: flex;
    }
  }

  .header__menu-toggle {
    display: none;
  }

  .header {
    border-bottom: 1px solid $custom-light-gray;
    padding-top: 0;
  }

  .header__logo-link {
    left: 50px; // *
    top: 22px; // *
    z-index: 1;
    transform: translateX(0);
  }

  .header__navigation {
    display: flex;
  }

  .header__main-menu {
    position: absolute;
    left: 50px; // *
    bottom: -67px; // *
    z-index: 1;
    width: 320px; // *
  }

  .header__main-menu-link {
    border-top: none;
    padding: 27px 0; // *
    font-size: 15px;
    text-align: center; // *
  }

  .header__user-menu {
    margin-left: auto;
  }

  .header__search-button {
    border: none;
    border-left: 1px solid $custom-light-gray;
    width: 84px;
    font-size: 0;
  }

  .header__search-button-icon {
    left: -8px;
    top: -7px;
  }

  .header__shopping-cart-link {
    border-top: none;
    border-left: 1px solid $custom-light-gray;
    padding: 31px 50px 32px 83px;
  }

  .header__shopping-cart-link-icon {
    left: -52px;
  }
}
