.preview {
  position: relative;
  outline: 1px solid #000000;
  padding-top: 70px;
  height: 488px; // *
  min-width: 320px;
  font-family: $opensans-font;
  background: #fafafa url("../img/prev-bg-mobile.jpg") no-repeat center -20px;
}

.preview__subtitle {
  display: block;
  margin: 0 auto;
  width: 255px;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
}

.preview__links {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 211px; // *
  background: rgba(#ff0000, 0.1);
}

.preview__link {
  position: absolute;
  left: 0;
  display: block;
  outline: none;
  padding: 25px 0 0 30px;
  width: 100%;
  height: 103px;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  text-decoration: none;
  color: #ffffff;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;

  &:hover,
  &:focus {
    height: 108px;
  }

  &:active {
    color: rgba(#ffffff, 0.3);
  }
}

.preview__link--interior {
  bottom: 103px;
  z-index: 1;
  background: $custom-turquoise;

  &::after {
    content: "";
    position: absolute;
    right: 36px;
    top: 22px;
    width: 41px;
    height: 62px;
    background: url("../img/prev-lamp.svg") no-repeat 0 0;
    opacity: 0.5;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
  }

  &:hover,
  &:focus {
    background: #59d5bc;

    &::after {
      opacity: 0.7;
    }
  }

  &:active {
    &::after {
      opacity: 0.3;
    }
  }
}

.preview__link--toys {
  bottom: 0;
  z-index: 2;
  background: #56c3b2;

  &::after {
    content: "";
    position: absolute;
    right: 27px;
    top: 20px;
    width: 60px;
    height: 60px;
    background: url("../img/prev-lego.svg") no-repeat 0 0;
    opacity: 0.5;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
  }

  &:hover,
  &:focus {
    background: #46c1ae;

    &::after {
      opacity: 0.7;
    }
  }

  &:active {
    &::after {
      opacity: 0.3;
    }
  }
}

@media (min-width: $tablet) {
  .preview {
    padding-top: 154px;
    height: auto;
    background: #fafafa url("../img/prev-bg-desktop.jpg") no-repeat center 0;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 3;
      width: 100%;
      height: 14px;
      background: url("../img/zigzag-line-white.svg") no-repeat 0 0;
      background-size: cover;
      background-color: rgba(#ff0000, 0.1);
    }
  }

  .preview__subtitle {
    margin: 0 auto 367px;
    width: 500px;
    font-size: 43px;
    line-height: 50px;
  }

  .preview__links {
    position: static;
    display: flex;
    align-items: flex-end;
    height: 124px;
    background: rgba(#ff0000, 0.1); // *
  }

  .preview__link {
    position: relative;
    left: auto;
    bottom: auto;
    padding: 30px 0 0 35px;
    width: 50%;
    height: 119px;
    font-size: 20px;
    line-height: 30px;

    &:hover,
    &:focus {
      height: 124px; // *
    }
  }

  .preview__link--interior::first-line {
    top: 32px;
  }

  .preview__link--toys::after {
    right: 34px;
    top: 33px;
  }
}
