.production-process {
  padding: 0 0 58px;
  min-width: 320px;
  font-family: $opensans-font;
}

.production-process-wrapper {
  position: relative;
  margin: 0 auto;
  width: 260px;
}

.production-process-description-wrapper {
  border: 1px solid #ececec;
  padding: 24px 0 32px;
}

.production-process-title {
  margin: 0 0 200px;
  padding: 0 0 0 89px;
  width: 130px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  background: url("../img/proc-camera.svg") no-repeat 33px 10px;
  background-size: 32px 22px;
}

.production-process-description {
  margin: 0 0 26px;
  padding: 0 33px;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
}

.production-proces-default-button {
  margin: 0 auto;
  width: 192px;
}

.production-process-video {
  position: absolute;
  left: 0;
  top: 95px;
  width: 260px;
  height: 150px;
  background: url("../img/proc-bg-desktop.jpg") no-repeat;
  background-size: cover;
}

.production-process-play {
  position: absolute;
  left: 50%;
  top: 50%;
  outline: none;
  border: none;
  padding: 0;
  width: 101px;
  height: 77px;
  background: url("../img/proc-play-btn.svg") no-repeat 0 0;
  transform: translate(-50%, -50%);
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
  cursor: pointer;

  &:hover,
  &:focus {
    width: 121px;
    height: 97px;
  }

  &:active {
    width: 101px;
    height: 77px;
    opacity: 0.8;
  }
}

@media (min-width: $tablet) {
  .production-process {
    padding: 0 0 64px;
  }

  .production-process-wrapper {
    position: static;
    display: flex;
    flex-direction: column-reverse;
    width: 668px;
  }

  .production-process-description-wrapper {
    padding: 36px 40px 44px; // *
  }

  .production-process-title {
    margin: 0 0 35px;
    padding: 0 0 0 65px;
    width: auto;
    font-size: 20px;
    background: url("../img/proc-camera.svg") no-repeat 0 0;
  }

  .production-process-description {
    margin: 0 0 34px;
    padding: 0;
    font-size: 15px;
    line-height: 30px;
  }

  .production-proces-default-button {
    margin: 0;
    width: 100%;
  }

  .production-process-video {
    position: relative;
    top: 0;
    width: 668px;
    height: 455px;
  }
}
