.production-process {
  min-width: 320px;
  font-family: $opensans-font;
}

.production-process-wrapper {
  border: 1px solid #ececec;
}

.production-process-title {
  padding-left: 50px;
  width: 130px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  background: url("../img/proc-camera.svg") no-repeat 0 0;
}

.production-process-description {
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
}
