.product-cards {
  padding-top: 30px;
  min-width: 320px;
  font-family: $opensans-font;
}

.product-card {
  margin: 0 auto;
  width: 260px;
}

.product-card__img {
  display: block;
  width: 260px;
  height: 195px;
  background: rgba(#ff0000, 0.1);
}

.product-card__description {
  position: relative;
}

.product-card__title {
  margin: 0; // *
}

.product-card__title-link {
  outline: none;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;

  &:hover,
  &:focus {
    color: rgba(#000000, 0.6);
  }

  &:active {
    color: rgba(#000000, 0.3);
  }
}

.product-card__specifications {
  margin: 0; // *
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  color: #444444;
}

.product-card__price {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
}

.product-card__buy-button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  padding: 0;
  width: 35px;
  height: 35px;
  background: rgba(#ff0000, 0.1);
  cursor: pointer;

  path {
    stroke: rgba(#221f1f, 0.2);
  }

  &:hover path,
  &:focus path {
    stroke: #63d1bb;
  }

  &:active path {
    stroke: rgba(#63d1bb, 0.3);
  }
}
