.reviews {
  margin: 0 auto;
  padding: 30px 0 50px;
  min-width: 320px;
  max-width: 1050px;
  font-family: $opensans-font;
  background: url("../img/zigzag-line.svg") no-repeat center bottom;
}

.reviews__title {
  margin: 0 0 22px;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.reviews__list {
  list-style-type: none;
  margin: 0 0 36px;
  padding: 0;
}

.reviews__text {
  margin: 0 0 30px;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: $custom-gray;
}

.reviews__name {
  margin: 0 0 7px;
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
}

.reviews__mail {
  margin: 0;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  color: $custom-gray;
}

.reviews__switches {
  position: relative;
  display: flex;
  margin: 0 auto 37px;
  border: 1px solid $custom-light-gray;
  width: 260px;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 1px;
    height: 50px;
    background: $custom-light-gray;
  }
}

.reviews__switch {
  outline: none;
  border: none;
  border-radius: 0;
  padding: 0;
  width: 130px;
  height: 50px;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--back {
    background: url("../img/rev-arrow-back.svg") no-repeat center;
    background-size: 50px 26px;
  }

  &--next {
    margin-left: -1px;
    background: url("../img/rev-arrow-next.svg") no-repeat center;
    background-size: 50px 26px;
  }
}

.reviews__default-button {
  margin: 0 auto;
  width: 260px;
}

@media (min-width: $tablet) {
  .reviews {
    padding: 100px 0 134px;
    background:
      url("../img/zigzag-line.svg") no-repeat center bottom,
      url("../img/rev-bg.jpg") no-repeat 0 25px;
  }

  .reviews__title {
    margin: 0 0 50px;
    font-size: 43px;
    line-height: 50px;
  }

  .reviews__list {
    margin: 0;
  }

  .reviews__text {
    margin: 0 0 60px;
    font-size: 17px;
  }

  .reviews__name {
    margin: 0 0 8px;
    font-size: 18px;
    line-height: 24px;
  }

  .reviews__switches {
    position: absolute;
    right: 68px;
    bottom: 0;
    margin: 0;
    border: none;
    width: 140px;

    &::before {
      content: none;
    }
  }

  .reviews__switch {
    width: 70px;

    &--back {
      background-position: left center;
    }

    &--next {
      margin-left: -1px;
      background-position: right center;
    }
  }

  .reviews__default-button {
    position: absolute;
    right: 50px;
    top: 0;
    width: 175px;
  }
}

@media (min-width: $desktop) {
  .reviews {
    padding: 110px 0 188px;
    background:
      url("../img/zigzag-line.svg") no-repeat center bottom,
      url("../img/rev-bg.jpg") no-repeat 0 38px;
  }

  .reviews__title {
    font-size: 53px;
    line-height: 57px;
  }

  .reviews__text {
    margin: 0 0 40px;
    max-width: 775px;
  }

  .reviews__switches {
    right: 18px;
  }

  .reviews__default-button {
    right: 0;
    top: 8px;
  }
}
