.week-product {
  margin: 0 auto;

  // outline: 1px solid #000000;
  padding: 28px 0 36px;
  min-width: 320px;
  max-width: 1050px;
  font-family: $opensans-font;
}

.week-product__centerer {
  position: relative;
}

.week-product__wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.week-product__title {
  order: 2;
  margin: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: $custom-turquoise;
}

.week-product__name {
  order: 1;
  margin: 0 0 4px;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.week-product__description {
  margin: 0 0 15px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: $custom-gray;
}

.week-product__specifications {
  margin: 0 auto 26px;
  border-collapse: collapse;
  width: 260px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: $custom-gray;
}

.week-product__column {
  border-bottom: 1px solid $custom-light-gray;
  padding: 8px 0;

  &--1 {
    width: 37%;
  }
}

.week-product__image {
  display: block;
  margin: 0 auto 24px;
}

.week-product__price {
  margin: 0 0 26px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: $custom-gray;
}

.week-product__default-button {
  margin: 0 auto;
  width: 260px;
}

@media (min-width: $tablet) {
  .week-product {
    padding: 47px 0 52px;
  }

  .week-product__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 49px;
  }

  .week-product__title {
    margin-right: 25px;
    width: 75px;
    font-size: 17px;
    line-height: 17px;
    text-align: center;
  }

  .week-product__name {
    margin: 0;
    font-size: 43px;
    line-height: 50px;
  }

  .week-product__description {
    margin: 0 0 36px;
    width: 292px;
    font-size: 17px;
    line-height: 30px;
  }

  .week-product__specifications {
    margin: 0 0 54px;
    width: 292px;
  }

  .week-product__image {
    position: absolute;
    right: 50px;
    top: 108px;
    margin: 0;
  }

  .week-product__price {
    margin: 0 0 35px;
    width: 292px;
    font-size: 20px;
    line-height: 24px;
  }

  .week-product__default-button {
    margin: 0;
    width: 292px;
  }
}

@media (min-width: $desktop) {
  .week-product {
    padding: 122px 0 72px;
  }

  .week-product__title {
    position: absolute;
    left: -130px;
    top: 15px;
  }

  .week-product__name {
    font-size: 53px;
    line-height: 57px;
  }

  .week-product__description {
    margin: 0 0 50px;
  }

  .week-product__specifications {
    margin: 0 0 108px;
  }

  .week-product__image {
    right: 0;
    top: -52px;
    z-index: -1;
  }

  .week-product__price {
    margin: 0 0 32px;
  }
}
